.as-button {
    border: none;
    border-radius: 2px;
    padding: 3px 7px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
    background: none;
    
    transition: filter 0.05s;
    filter: none;
    
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: $font;
    text-decoration: none;
    font-size: 13.3333px;
    color: inherit;
    
    &.flat {
        box-shadow: none;
    }
    
    &.small {
        font-size: 10px;
        padding: 3px 3px;
    }

    &:disabled, &.disabled {
        opacity: 0.5;
    }
}

.as-clickable-positive {
    &:hover:not(:disabled):not(.disabled) {
        filter: brightness(1.2);
    }
    
    &:active {
        filter: brightness(1.4);
    }
}

.as-clickable-negative {
    &:hover:not(:disabled):not(.disabled) {
        filter: brightness((1 / 1.1));
    }
    
    &:active {
        filter: brightness((1 / 1.2));
    }
}