.as-fold {
    transform: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    text-decoration: none;
    font-size: 13.3333px;

    &.open {
        transform: rotate(90deg);
    }
}