.as-text-field {
    input {
        background: none;
        border: none;
        outline: none;

        color: inherit;
        font-family: inherit;
    }

    .focus-indicator {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        transition: transform 0.05s ease-in-out;
        transform-origin: left center;
        transform: scaleX(0);
    }

    &:focus-within {
        .focus-indicator {
            transform: none;
        }
    }
}