.as-tabs-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transform: none;

    &.active {
        opacity: 1;
    }

    &.moving {
        transition: transform 0.1s ease-in-out;
    }
}

.as-retro-tab {

    transform: translate(0, 0);
    transition: 0.1s transform ease-in-out;

    &>.-border {
        border-top-left-radius: var(--default-border-radius);
        border-top-right-radius: var(--default-border-radius);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid var(--border-color);
        border-bottom: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transition: 0.1s bottom ease-in-out;
    }

    &.-selected, &:hover {
        transform: translate(0, -4px);

        &>.-border {
            bottom: -4px;
            transform: translate(0, 1px);
        }
    }

    &>.-connector {
        position: absolute;
        top: calc(100% + 4px);
        left: 1px;
        right: 1px;
        height: 1px;
        background-color: var(--bg-default);
        opacity: 0;
    }

    &.-selected>.-connector {
        opacity: 1;
    }
}
