@use "./support.scss";
$border-style: 1px solid var(--border-color);

.border {
    border: $border-style
}

.border-none {
    border: none;
}

@each $side in left, right, bottom, top {
    .border-#{$side} {
        border-#{$side}: $border-style;
    }

    .border-#{$side}-none {
        border-#{$side}: none;
    }
}

.border-hidden {
    border-color: rgba(0, 0, 0, 0);
}

@each $color in support.$colors-list {
    .border-#{$color} {
        border-color: var(--bg-#{$color});
    }
}
