$border-style: 1px solid $border-color;

.border {
    border: $border-style
}

.border-none {
    border: none;
}

@each $side in left, right, bottom, top {
    .border-#{$side} {
        border-#{$side}: $border-style;
    }

    .border-#{$side}-none {
        border-#{$side}: none;
    }
}

.border-hidden {
    border-color: rgba(0, 0, 0, 0);
}

@each $value-short, $color in $colors {
    .border-#{$value-short} {
        border-color: map-get($color, "bg");
    }
}