@each $value-short, $color in $colors {
    .bg-#{$value-short} {
        background-color: map-get($color, "bg");
        @if map-get($color, "invert")==true {
            --fg-color: #{map-get(map-get($colors, "white"), "fg")};
        }
        @else {
            --fg-color: #{map-get(map-get($colors, "black"), "fg")};
        }
        color: var(--fg-color);
    }

    .bg-#{$value-short}-translucent {
        background-color: rgba(map-get($color, "bg"), 0.25);
    }

    .bg-#{$value-short}-transparent {
        background-color: rgba(map-get($color, "bg"), 0.75);
        @if map-get($color, "invert")==true {
            --fg-color: #{map-get(map-get($colors, "white"), "fg")};
        }
        @else {
            --fg-color: #{map-get(map-get($colors, "black"), "fg")};
        }
        color: var(--fg-color);
    }

    .bg-#{$value-short}-transparent-hover {
        transition: background-color 0.1s ease-in-out;
        &:hover, &:focus-visible {
            background-color: rgba(map-get($color, "bg"), 0.25);
        }
    }

}

.bg-none {
    background: none;
}

.bg-text {
    background-color: var(--fg-color);
}

.bg-blur {
    backdrop-filter: blur(10px);
}

@each $value-short, $color in $colors {
    .text-#{$value-short} {
        --fg-color: #{map-get($color, "fg")};
        color: var(--fg-color);
    }
}
