@use "./support.scss";

@each $color in support.$colors-list {
    .bg-#{$color} {
        background-color: var(--bg-#{$color});
        --fg-color: var(--fg-replace-#{$color});
        --replace-color: var(--fg-replace-#{$color});
        color: var(--fg-color);
    }

    .bg-#{$color}-translucent {
        background-color: var(--bg-#{$color}-translucent);
    }

    .bg-#{$color}-transparent {
        background-color: var(--bg-#{$color}-transparent);
        --fg-color: var(--fg-replace-#{$color});
        --replace-color: var(--fg-replace-#{$color});
        color: var(--fg-color);
    }

    .bg-#{$color}-transparent-hover {
        transition: background-color 0.1s ease-in-out;
        &:hover, &:focus-visible, &.force-focus {
            background-color: var(--bg-#{$color}-translucent);
        }
    }

}

.bg-none {
    background: none;
}

.bg-text {
    background-color: var(--fg-color);
}

.bg-blur {
    backdrop-filter: blur(10px);
}

@each $color in support.$colors-list {
    .text-#{$color} {
        --fg-color: var(--fg-#{$color});
        color: var(--fg-color);
    }
}

.text-fg {
    --fg-color: var(--fg-default);
    color: var(--fg-color);
}

.text-bg {
    --bg-color: var(--bg-default);
    color: var(--bg-color);
}
