.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex, .inline-flex {
    @each $type in row, column {
        &.#{$type} {
            flex-direction: $type;
        }
    }
}

.center {
    justify-content: center;
    align-items: center;
}

.center-main {
    justify-content: center;
}

.center-cross {
    align-items: center;
}

.start-main {
    justify-content: start;
}

.start-cross {
    align-items: start;
}

.end-main {
    justify-content: end;
}

.end-cross {
    align-items: end;
}

.flex-fill {
    flex: 1 1;
}

@for $mul from 0 to $mul-max {
    .flex-basis-#{$mul} {
        flex-basis: $mul * $size-int;
        flex-shrink: 0;
    }

    .flex-basis-#{$mul}-em {
        flex-basis: $mul * $size-int-em;
        flex-shrink: 0;
    }

    .flex-basis-#{$mul * $px-int-n} {
        flex-basis: $mul * $px-int;
        flex-shrink: 0;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}
