@use "./support.scss";

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex, .inline-flex {
    @each $type in row, column {
        &.#{$type} {
            flex-direction: $type;
        }
    }
}

.center {
    justify-content: center;
    align-items: center;
}

.center-main {
    justify-content: center;
}

.center-cross {
    align-items: center;
}

.start-main {
    justify-content: start;
}

.start-cross {
    align-items: start;
}

.end-main {
    justify-content: end;
}

.end-cross {
    align-items: end;
}

.justify-main {
    justify-content: space-between;
}

.justify-cross {
    align-items: normal;
}

.flex-fill {
    flex: 1 1;
}

@for $mul from 0 to support.$mul-max {
    .flex-basis-#{$mul} {
        flex-basis: calc($mul * var(--size-int));
        flex-shrink: 0;
    }

    .flex-basis-#{$mul}-em {
        flex-basis: calc($mul * var(--size-int-em));
        flex-shrink: 0;
    }

    .flex-basis-#{$mul * support.$px-int-n} {
        flex-basis: calc($mul * support.$px-int);
        flex-shrink: 0;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}
