* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--default-font);
    --fg-color: var(--fg-default);
    color: var(--fg-color);
    background-color: var(--bg-default);
}

#app, .as-reset {
    display: flex;
    flex-direction: column;
    font-family: var(--default-font);
    text-decoration: none;
    color: var(--fg-color);
}

#app {
    flex: 1 1;
}

h1, h2 {
    font-weight: 300;
    margin: calc(4 * var(--size-int)) 0 calc(2 * var(--size-int)) 0;
}

h3 {
    font-weight: 400;
}

.as-table {
    &, th, td {
        border: var(--border-color) 1px solid;
        border-collapse: collapse;
    }
}
