@use './constants.scss';

* {
    position: relative;
    box-sizing: border-box;
}

:root {
    --fg-color: black;
}

body {
    margin: 0;
}

#app, .as-reset {
    display: flex;
    flex-direction: column;
    font-family: constants.$font;
    color: map-get(map-get(constants.$colors, "black"), "fg")
}

#app {
    flex: 1 1;
}

h1, h2 {
    font-weight: 300;
    margin: 4 * constants.$size-int 0 2 * constants.$size-int 0;
}