@use './constants.scss';

* {
    position: relative;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI' , Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: map-get(map-get(constants.$colors, "black"), "fg")
}

h1 {
    font-weight: 300;
    margin: 4 * constants.$size-int 0 2 * constants.$size-int 0;
}