@use './constants.scss';

@each $value-short, $value in ("m": "margin", "p": "padding") {
    @for $mul from 0 to constants.$mul-max {
        .child-#{$value-short}-#{$mul} > * {
            #{$value}: $mul * constants.$size-int;
        }

        @each $dir-short, $dir in ("l": "left", "r": "right", "t": "top", "b": "bottom") {
            .child-#{$value-short}#{$dir-short}-#{$mul} > * {
                #{$value}-#{$dir}: $mul * constants.$size-int;
            }
        }
    }

    @for $mul from 0 to constants.$mul-max {
        .#{$value-short}-#{$mul} {
            #{$value}: $mul * constants.$size-int;
        }

        @each $dir-short, $dir in ("l": "left", "r": "right", "t": "top", "b": "bottom") {
            .#{$value-short}#{$dir-short}-#{$mul} {
                #{$value}-#{$dir}: $mul * constants.$size-int;
            }
        }
    }
}

@each $dir-short, $dir in ("w": "width", "h": "height") {
    @for $mul from 0 to constants.$mul-max {
        .#{$dir-short}-#{$mul} {
            #{$dir}: $mul * constants.$size-int;
        }

        .#{$dir-short}-max-#{$mul * constants.$px-int-n} {
            max-#{$dir}: $mul * constants.$px-int;
        }

        .#{$dir-short}-min-#{$mul * constants.$px-int-n} {
            min-#{$dir}: $mul * constants.$px-int;
        }

        .#{$dir-short}-#{$mul * constants.$px-int-n} {
            #{$dir}: $mul * constants.$px-int;
        }
    }

    .#{$dir-short}-fill {
        #{$dir}: 100%
    }
}

.absolute {
    position: absolute;
}

.absolute-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.inline-block {
    display: inline-block;
}

@each $side in baseline, top {
    .vertical-align-#{$side} {
        vertical-align: $side;
    }
}

@each $side in "top", "left", "right", "bottom" {
    .#{$side}-0 {
        #{$side}: 0;
    }
}