.contain {
    contain: strict;
}

.scroll {
    overflow-y: scroll;
}

.overflow-auto {
    overflow: auto;
}

.small {
    font-size: small;
}

.muted {
    opacity: 0.5;
}

.passthrough {
    display: contents;
}

.shadow {
    box-shadow: 0 0 10px grey;
}

.rounded {
    border-radius: 4px;
}

.monospace {
    font-family: monospace;
}

@each $type in cover, contain {
    .img-#{$type} {
        object-fit: $type;
    }
}