.contain {
    contain: strict;
}

.scroll {
    overflow-y: scroll;
}

.small {
    font-size: small;
}

.muted {
    opacity: 0.5;
}

@each $type in cover, contain {
    .img-#{$type} {
        object-fit: $type;
    }
}