@use "./style/support.scss";
@use "sass:meta";

:root, .as-light-theme {
    @include support.generate-theme();
}

.as-dark-theme {
    @include support.generate-theme($fg-danger: #fd8484,
        $bg-danger: #be2a39,
        $fg-primary: #429eff,
        $bg-primary: #1a6ae0,
        $fg-white: #ededed,
        $bg-secondary: #555555,
        $bg-warning: #cf6513,
        $default-bg: "dark",
        $default-fg: "white",
        $border-color: #444444,
        $fg-success: #28a745,
        $fg-warning: #ff7b00);

    color-scheme: dark;
}

@include meta.load-css("./style/index.scss");
